/* .login-container {
    background-color: #2d4d4a;
    padding: 40px 30px 30px;
    border-radius: 20px;
    width: 320px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    color: white;
}

.login-icon {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2d4d4a;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-icon svg {
    fill: #fff;
    width: 40px;
    height: 40px;
}

h2 {
    margin-top: 60px;
    font-weight: normal;
}

.input-group {
    position: relative;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
}

.input-icon {
    position: absolute;
    left: 10px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #218c74;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.login-button:hover {
    background-color: #1e665b;
} */
