.video-list-container {
    max-height: 90vh;
    overflow-y: auto;
    padding: 20px;
    background-color: #2d4d4a;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #3c6e71;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    color: #fff;
    border: 1px solid #ddd;
}

.video-info {
    margin: 5px 0;
}


.video-info a {
    color: #218c74;
    text-decoration: none;
}

.video-info a:hover {
    text-decoration: underline;
}


.back-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #218c74;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.back-button:hover {
    background-color: #1e665b;
}
